@model ICollection<WebBlogApplication.Models.PostBindnViewModels.PostConciseViewModel>

@{
    ViewData["Title"] = "Posts";
}

<h2>All Posts</h2>
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create" class="btn btn-success">Create new Post</a>
}
@foreach (var post in Model)
{
    <div style="margin-bottom: 10px; border: 1px solid black;">
        <h3>@post.Title</h3>
        <p>@post.PostText</p>
        <a asp-action="View" asp-controller="Post" asp-route-id="@post.Id" class="btn">View</a>
    </div>
}



